body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  height: 100vh;
}

input {
  width: 30vw;
  text-transform: none !important;
  font-weight: normal !important;
}

input {
  min-width: 500px;
}

button {
  margin: 30px !important;
}

.stats {
  margin-bottom: 10px !important;
}

.white {
  color: rgba(255, 255, 255, 0.7) !important;
}
